body {
  font-family: sans-serif;
  text-align: center;
}

.stopwatch {
  margin: 50px auto;
  max-width: 400px;
  width: 90%;
}

.time {
  font-size: 6vw;
}

.buttons {
  margin-top: 20px;
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  font-size: 4vw;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .stopwatch {
    margin: 30px auto;
  }

  .time {
    font-size: 10vw;
  }

  button {
    font-size: 8vw;
  }
}
